<div ng-controller="filterCtrl">

    <h2>Filtriranje</h2>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="naZadatke()">Predji u dodavanje</button>
    </div>
     <div class="btn-group pull-left">
        <button class="btn btn-primary" ng-click="najprioritetniji()">Najprioritetniji</button>
    </div>
    <br/>
    <br/>
     <form>
        <div class="form-group">
            <label for="zakupacTrazeniStand">Minimalni prioritet</label>
            <input type="text" class="form-control" id="zakupacTrazeniStand" ng-model="trazeniZadatak.minP" placeholder="Minimalni prioritet">
        </div>
        <div class="form-group">
            <label for="minPovrsinaTrazeniStand">Maximalni prioritet</label>
            <input type="text" class="form-control" id="minPovrsinaTrazeniStand" ng-model="trazeniZadatak.maxP" placeholder="Maximalni prioritet">
        </div>
        <div class="form-group">
            <label for="maxPovrsinaTrazeniStand">Naziv</label>
            <input type="text" class="form-control" id="maxPovrsinaTrazeniStand" ng-model="trazeniZadatak.naziv" placeholder="Naziv">
        </div>

        <button type="button" class="btn btn-primary" ng-click="trazi()">Filtriraj</button>
    </form> 
    <br/>
    <br/>
    <br/>

    <br/>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="nazad()" ng-disabled="pageNum==0">Prethodna</button>
        <button class="btn btn-primary" ng-click="napred()" ng-disabled="pageNum == totalPages - 1">Sledeća</button>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Prioritet</th>
            <th>Rok</th>
            <th>Zaposleni</th>

        </tr>
        <tr ng-repeat="zadatak in zadaci">
            <td>{{zadatak.naziv}}</td>
            <td>{{zadatak.opis}}</td>
            <td>{{zadatak.prioritet}}</td>
            <td>{{zadatak.rokZavrsetka}}</td>
             <td>{{zadatak.zaposleniIme }} {{zadatak.zaposleniPrezime}}</td>

            <td>
                <button class="btn btn-danger" ng-click="obrisi(zadatak.id)">Obriši</button>
                <button class="btn btn-warning" ng-click="izmeni(zadatak.id)">Izmeni</button>
                <button class="btn btn-warning" ng-click="izmeniOvde(zadatak.id)">Izmeni na ovoj stranici</button>
            </td>
        </tr>
    </table>
</div>