<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml">  
  
<head>  
    <title>Projekti</title>  

    <style type="text/css">
    	.centered {
    		text-align: center;
    	}
    </style>
</head>  
  
<body ng-app = "sajamApp"> 
    <div>  
        <h1>Projekti</h1>  
        <br/>  
  
        <p class="centered">Lista svih projekata</p>  

        <div ng-controller="projektiCtrl">
        	<label>Search: <input type="text" name="search" ng-model="searchText" placeholder="Search..."></label>
        	<table class = "table" id="searchTextResult">
        		<thead>
        			<th>Naziv</th>
        			<th>prioritet</th>
        			<th>tip</th>
        			<th>zaposleni</th>
        		</thead>
        		<tbody>
        			<tr ng-repeat = "zadatak in zadaci | filter:searchText | orderBy: 'prioritet' | orderBy: 'zaposleni'">
        				<td>{{zadatak.naziv | uppercase}}</td>
        				<td> {{zadatak.prioritet}}</td>
        				<td>{{zadatak.tipNaziv}}</td>
        				<td>{{zadatak.zaposleniIme}}</td>
        			</tr>
        		</tbody>

        	</table>

        </div>
    </div>  
  
</body>  
  
</html>  