<div ng-controller="editZadaciCtrl">
    <h1>Editovanje!</h1>
     <form>
        <div class="form-group">
            <label for="zakupacNoviStand">Naziv</label>
            <input type="text" class="form-control" id="zakupacNoviStand" ng-model="stariZadatak.naziv" placeholder="Naziv">
        </div>
        <div class="form-group">
            <label for="povrsinaNoviStand">Opis</label>
            <input type="text" class="form-control" id="povrsinaNoviStand" ng-model="stariZadatak.opis" placeholder="Opis">
        </div>
        <div class="form-group">
            <label for="zakupacNoviStand1">Prioritet</label>
            <input type="text" class="form-control" id="zakupacNoviStand1" ng-model="stariZadatak.prioritet" placeholder="Prioritet">
        </div>
        <div class="form-group">
            <label for="povrsinaNoviStand2">Rok zavrsetka</label>
            <input type="text" class="form-control" id="povrsinaNoviStand2" ng-model="stariZadatak.rokZavrsetka" placeholder="Rok zavrsetka">
        </div>
        <div class="form-group">
            <label for="sajamNoviStand">Zaposleni</label>
            <select class="form-control" id="sajamNoviStand" ng-model="stariZadatak.zaposleniId">
                <option ng-repeat="zaposlenik in zaposleni" ng-selected="zaposlenik.id == stariZadatak.zaposleniId" value="{{zaposlenik.id}}">{{zaposlenik.ime}}</option>

            </select>
        </div>
        <div class="form-group">
            <label for="sajamNoviStand1">Tip</label>
            <select class="form-control" id="sajamNoviStand1" ng-model="stariZadatak.tipId">
                <option ng-repeat="tip in tipovi" ng-selected="tip.id == stariZadatak.tipId" value="{{tip.id}}">{{tip.naziv}}</option>

            </select>
        </div>

        <button type="button" class="btn btn-primary" ng-click="izmeni()">Izmeni</button>
    </form>
</div>