<div ng-controller="zadaciCtrl">

    <h2>Zadaci</h2>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="naFiltriranje()">Predji u filtriranje</button>
    </div>
    <form ng-if = "!gasenje">
        <div class="form-group">
            <label for="zakupacNoviStand">Naziv</label>
            <input type="text" class="form-control" id="zakupacNoviStand" ng-model="noviZadatak.naziv" placeholder="Naziv">
        </div>
        <div class="form-group">
            <label for="povrsinaNoviStand">Opis</label>
            <input type="text" class="form-control" id="povrsinaNoviStand" ng-model="noviZadatak.opis" placeholder="Opis">
        </div>
        <div class="form-group">
            <label for="zakupacNoviStand1">Prioritet</label>
            <input type="text" class="form-control" id="zakupacNoviStand1" ng-model="noviZadatak.prioritet" placeholder="Prioritet">
        </div>
        <div class="form-group">
            <label for="povrsinaNoviStand2">Rok zavrsetka</label>
            <input type="text" class="form-control" id="povrsinaNoviStand2" ng-model="noviZadatak.rokZavrsetka" placeholder="Rok zavrsetka">
        </div>
        <div class="form-group">
            <label for="sajamNoviStand">Zaposleni</label>
            <select class="form-control" id="sajamNoviStand" ng-model="noviZadatak.zaposleniId">
                <option ng-repeat="zaposlenik in zaposleni" ng-selected="zaposlenik.id == noviZadatak.zaposleniId" value="{{zaposlenik.id}}">{{zaposlenik.ime}}</option>

            </select>
        </div>
        <div class="form-group">
            <label for="sajamNoviStand1">Tip</label>
            <select class="form-control" id="sajamNoviStand1" ng-model="noviZadatak.tipId">
                <option ng-repeat="tip in tipovi" ng-selected="tip.id == noviZadatak.tipId" value="{{tip.id}}">{{tip.naziv}}</option>

            </select>
        </div>

        <button type="button" class="btn btn-primary" ng-click="dodaj()">Dodaj</button>
    </form>
    <br/>
    <br/>
    <br/>


    <br/>
    <br/>
    <br/>
    <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="nazad()" ng-disabled="pageNum==0">Prethodna</button>
        <button class="btn btn-primary" ng-click="napred()" ng-disabled="pageNum == totalPages - 1">Sledeća</button>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Prioritet</th>
            <th>Rok</th>
            <th>Zaposleni</th>
            <th>Tip</th>

        </tr>
        <tr ng-repeat="zadatak in zadaci">
            <td>{{zadatak.naziv}}</td>
            <td>{{zadatak.opis}}</td>
            <td>{{zadatak.prioritet}}</td>
            <td>{{zadatak.rokZavrsetka}}</td>
             <td>{{zadatak.zaposleniIme }} {{zadatak.zaposleniPrezime}}</td>
             <td>{{zadatak.tipNaziv}}</td>

            <td>
                <button class="btn btn-danger" ng-click="obrisi(zadatak.id)">Obriši</button>
                <button class="btn btn-warning" ng-click="izmeni(zadatak.id)">Izmeni</button>
                <button class="btn btn-warning" ng-click="izmeniOvde(zadatak.id)">Izmeni na ovoj stranici</button>
            </td>
        </tr>
    </table>
</div>